Repository dhbw-chatbot-travelassistant/travel-assistant, pull requests merged in 2025-03, with the labels that each got.

#4 ci(release): add release-please
  .github/workflows/release-please.yml
Labels: ci, workflow, to:main

#3 docs(dev): add branching docs
  README.md
Labels: docs, to:main

#5 fix: test release
  .github/workflows/release-please.yml
Labels: ci, workflow, to:main

#8 fix: test release
  services/backend/test
Labels: to:main, service:backend, test

#9 ci(release): add release config
  .github/release-please.yml
  x
Labels: ci, workflow, to:main

#14 build(release): switch to workflow
  .github/release-please.yml
  .github/workflows/release-please.yml
Labels: workflow, to:main, build

#17 fix: test release
  services/backend/test
Labels: to:main, service:backend, test

#19 ci: allow ci auto-fix
  .pre-commit-config.yaml
Labels: fix, ci, to:main

#18 chore: release main
  .release-please-manifest.json
  services/backend/services/backend/docs/CHANGELOG.md
Labels: docs, to:main, autorelease: pending, service:backend

#21 docs: add make init command to dev usage
  README.md
Labels: docs, to:main

#28 Feat/llm connection
  services/data/LLM-connection.py
  services/data/requirements.txt
Labels: to:main, service:data, feature

#29 Feat/frontend implementation
  services/frontend/dockerfile
  services/frontend/main.py
Labels: to:main, service:frontend, feature

#33 Feat/frontend implementation
  .DS_Store
  services/.DS_Store
  services/frontend/main.py
  services/mock/.DS_Store
Labels: to:main, service:frontend, feature
