Repository dhbw-chatbot-travelassistant/travel-assistant, pull requests merged in 2025-04, with the labels that each got.

#37 Feature/integrate backend and frontend
  .env
  README.md
  docker-compose.yml
  mock-stack.yml
  services/backend/Dockerfile
  services/backend/LLM_connection.py
  services/backend/main.py
  services/frontend/dockerfile
  services/frontend/main.py
  services/mock/Makefile
  services/mock/answers.json
  services/mock/example/example.json
  services/mock/mock-stack.yml
  services/mock/server.js
Labels: docs, to:main, feature

#38 add: changed location filtering to gemeni logic
  .env
  README.md
  services/backend/LLM_connection.py
  services/frontend/main.py
Labels: fix, to:main

#41 Show response in frontend as markdown
  services/frontend/main.py
Labels: to:main, feature
